@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-500: #2d2e32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--gray-500);
}

@keyframes scrolling {
  /* 0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-20%);
  } */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-scrolling {
  animation: scrolling 20s linear infinite;
}
